mat-card{
  width: 70%;
  height: 70%;
  align-self: center;
  background-color:beige;
}

.div_flex{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 80%;
}

.main_component{
  height: 100vh;
}

mat-card-header{
  display: initial;
}