/* You can add global styles to this file, and also import other style files */
html{
  background-color: azure;
}

body {
  padding: 0;
  margin: 0;
}

.item_button{
  background-color: rgb(255,216,20);
  color:black;
  height: 36px;
  width: 150px;
  border-radius: 18px;
  font-weight: bold;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: box_shadow 0.15s;
  text-align: center;
  justify-content: center;
}

.item_button:hover{
  opacity: 0.8;
}

.item_button:active{
  box-shadow: 6px 6px 11px rgba(0,0,0,0.15);
}

html{
  font-family: Verdana;

}






