.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.furniture_item{
  margin: 3%;
  padding: 10px;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 10%;
}

.furniture_item:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor: pointer;
}

.furniture_item > h2{
  display: flex;
  align-items: center;
  justify-content: center;
}

.furniture_item_name{
  color: black;
}

.furniture_item_img{
  width: 100%;
  height: auto;
  border-radius: 10%;
}