
<div class="container">
  <div class="furniture_item">
    <h2 class="furniture_item_name">Ágy</h2>
    <a routerLink="/bed" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="furniture_item_img" src="assets/agy_main.avif"/></a>
  </div>

  <div class="furniture_item">
    <h2 class="furniture_item_name">Dohányzóasztal</h2>
    <a routerLink="/coffee-table" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="furniture_item_img" src="assets/dohanyzo_main.jpg"/></a>
  </div> 
  
  <div class="furniture_item">
    <h2 class="furniture_item_name">Gardrób</h2>
    <a routerLink="/wardrobe" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="furniture_item_img" src="assets/gardrob_main.avif"/></a>
  </div>

  <div class="furniture_item">
    <h2 class="furniture_item_name">Kanapé</h2>
    <a routerLink="/sofa" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="furniture_item_img" src="assets/kanape_main.jpg"/></a>
  </div>

  <div class="furniture_item">
    <h2 class="furniture_item_name">Komód</h2>
    <a routerLink="/drawer" routerLinkActive="active" ariaCurrentWhenActive="page"><img class="furniture_item_img" src="assets/komod_main.avif"/></a>
  </div>
</div>

  <div>
  <img src="https://img.freepik.com/free-psd/wall-mockup-psd-modern-living-room_53876-129061.jpg?w=1480&t=st=1683315844~exp=1683316444~hmac=fbf406fba3d087d4aedea73226f8c524189392b553e013bca9d2cf2909fe14f9" width="100%" height="auto" alt="kanape" />

</div>

